<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Login Page </title>
</head>

<body>
    <div id="content">

        <div class="grid grid-cols-12 mt-4">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <!--Khalche card aple 6 chi jaga ghenar ahe-->
                <!-- CARD Start-->
                <div class=" block p-6 bg-white rounded-lg border-t-4 border-blue-600 shadow-md hover:bg-gray-100 ">
                    <!-- This is message fragment calling -->
                    <div data-th-replace="message :: messagebox"></div>
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading leading-8">Login Here </h5>
                    <p class="text-body">Start managing contacts on cloud </p>

                    <!-- This is our Form-->
                    <form class="mt-5 ">


                        <!-- UserName Feild-->
                        <div class="mb-3">
                            <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
                            <input type="email" id="email"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="name@gmail.com" required />

                        </div>

                        <!-- PassWord feild -->
                        <div class="mb-3">
                            <label for="password" class="block mb-2.5 text-sm font-medium text-heading">New
                                Password</label>
                            <input type="password" id="password"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                required />
                        </div>


                        <!-- Buttons-->

                        <div class="mb-3 flex justify-center mt-6 space-x-3">

                            <button type="submit"
                                class="px-3 py-2 rounded flex items-center justify-center rounded-md bg-blue-600 text-white text-sm font-semibold shadow-md hover:bg-blue-700 transition duration-200">Login</button>
                            <button type="reset"
                                class="px-3 py-2 rounded h-10 flex items-center justify-center rounded-md bg-gray-200 text-gray-800 text-sm font-semibold shadow-md hover:bg-gray-300 transition duration-200">Reset</button>

                        </div>
                    </form>
                </div>


            </div>


        </div>
    </div>
    <script></script>
</body>

</html>