<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Login Page </title>
</head>

<body>
    <div id="content">

        <div class="grid grid-cols-12 mt-4">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <!--Khalche card aple 6 chi jaga ghenar ahe-->
                <!-- CARD Start-->
                <div class=" block p-6 bg-white rounded-lg border-t-4 border-green-800 shadow-md hover:bg-gray-100 ">
                    <!-- This is message fragment calling -->
                    <div data-th-replace="message :: messagebox"></div>
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading leading-8">Login Here </h5>
                    <p class="text-body">Start managing contacts on cloud </p>

                    <div class="text-red-600 text-center my-3" th:if="${param.error}">
                        Invalid username and password.</div>
                    <div class="text-green-700 text-center my-3" th:if="${param.logout}">
                        You have been logged out.</div>
                    <!-- This is our Form-->
                    <form method="post" data-th-action="@{'/authenticate'}" class="mt-5 ">


                        <!-- UserName Feild-->
                        <div class="mb-3">
                            <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
                            <input name="email" type="email" id="email"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="name@gmail.com" required />

                        </div>

                        <!-- PassWord feild -->
                        <div class="mb-3">
                            <label for="password" class="block mb-2.5 text-sm font-medium text-heading">New
                                Password</label>
                            <input name="password" type="password" id="password"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                required />
                        </div>


                        <!-- Buttons-->

                        <div class="mb-3 flex justify-center mt-6 space-x-3">

                            <button type="submit"
                                class="px-3 py-2 rounded flex items-center justify-center rounded-md bg-blue-600 text-white text-sm font-semibold shadow-md hover:bg-blue-700 transition duration-200">Login</button>
                            <button type="reset"
                                class="px-3 py-2 rounded h-10 flex items-center justify-center rounded-md bg-gray-200 text-gray-800 text-sm font-semibold shadow-md hover:bg-gray-300 transition duration-200">Reset</button>

                        </div>
                    </form>
                    <div class="social-buttons-container flex justify-center mt-10">
                        <a data-th-href="@{'/oauth2/authorization/github'}"
                            class="flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:bg-gray-900 transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            Login with GitHub
                        </a>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <script></script>
</body>

</html>