<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Signup Page </title>
</head>

<body>
    <div id="content">

        <div class="grid grid-cols-12 mt-4">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <!--Khalche card aple 6 chi jaga ghenar ahe-->
                <!-- CARD Start-->
                <div class=" block p-6 bg-white rounded-lg border-t-4 border-blue-600 shadow-md hover:bg-gray-100 ">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading leading-8">Signup Here </h5>
                    <p class="text-body">Start managing contacts on cloud </p>

                    <!-- This is our Form-->
                    <form data-th-action="@{/do-register}" method="post" class="mt-5" data-th-object="${userForm}">
                        <!--  Name Feild -->
                        <div class="mb-3">
                            <label for="name" class="block mb-2.5 text-sm font-medium text-heading">Name</label>
                            <input type="text" id="name" data-th-field="*{name}"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="Enter Here" required />
                        </div>

                        <!-- Email Feild-->
                        <div class="mb-3">
                            <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
                            <input type="email" id="email" data-th-field="*{email}"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="name@gmail.com" required />
                        </div>

                        <!-- PassWord feild -->
                        <div class="mb-3">
                            <label for="password" class="block mb-2.5 text-sm font-medium text-heading">New
                                Password</label>
                            <input type="password" id="password" data-th-field="*{password}"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                required />
                        </div>
                        <!-- Phone number -->
                        <div class="mb-3">
                            <label for="phone" class="block mb-2.5 text-sm font-medium text-heading">Contact Number
                            </label>
                            <input type="tel" id="phone" data-th-field="*{phoneNumber}" class=" bg-neutral-secondary-medium border border-default-medium text-heading text-sm
                                rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
                                placeholder:text-body" placeholder="+91 **********" required />
                        </div>
                        <!--About Decription-->
                        <div class="mb-3">
                            <label for="about" class="block mb-2.5 text-sm font-medium text-heading">Write something
                                about
                                yourself.</label>
                            <textarea id="about" rows="6" data-th-field="*{about}"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full p-3.5 shadow-xs placeholder:text-body"
                                placeholder="Wriite here"></textarea>
                        </div>
                        <!-- Buttons-->

                        <div class="mb-3 flex justify-center mt-6 space-x-3">

                            <button type="submit"
                                class="px-3 py-2 rounded flex items-center justify-center rounded-md bg-blue-600 text-white text-sm font-semibold shadow-md hover:bg-blue-700 transition duration-200">SignUp</button>
                            <button type="reset"
                                class="px-3 py-2 rounded h-10 flex items-center justify-center rounded-md bg-gray-200 text-gray-800 text-sm font-semibold shadow-md hover:bg-gray-300 transition duration-200">Reset</button>

                        </div>
                    </form>
                </div>


            </div>


        </div>

    </div>
    <script>
        console.log("Hello Welcome to Signup page!")
    </script>
</body>

</html>